doctype
html(ng-app="app")
  head
    link(rel="stylesheet" href="/assets/css/prototype.css")
    link(rel="stylesheet" href="/assets/css/ngGallery.css")
    link(rel="stylesheet" href="/assets/css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet" type="text/css")
  body(ng-controller="MainCtrl")

    !=yield

    script(src="/assets/js/modernizr.js")
    script(src="/assets/js/prototype.js")
    script(src="/assets/js/angular-touch.js")
    script(src="/assets/js/ngGallery.js")
    script(src="/assets/js/script.js")
