.ng-gallery {
  .ng-thumb {
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin: .3125em;
    cursor: pointer;
    border-radius: .2em;
    background-position: center;
    background-size: cover;
  }

  .ng-overlay {
    background: rgba(0,0,0,0.8);
    opacity: 1;
    transition: opacity .3s;
    &.ng-hide { opacity: 0 }
  }

  .ng-gallery-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: center;

    > a {
      text-shadow: 0 0.1em 0.3em #000;
      &.ng-gallery-close-popup {
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 1em;
        padding: 0.5em;
        z-index: 10;
      }
      &.ng-gallery-nav-left,
      &.ng-gallery-nav-right { display: none; }
    }

    > img {
      height: auto;
      max-height: calc(100% - 1em);
      max-width: calc(100% - 1em);
      position: relative;
      display: block;
      margin: 0 auto 0 auto;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      cursor: pointer;
      transition: opacity .5s;
      opacity: 1;
      border-radius: .2em;
      box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.4);
      &.ng-hide,
      &.loading,
      &.loading-remove {
        transition: opacity 0s;
        opacity: 0;
      }
    }

    .ng-gallery-description,
    .ng-thumbnails-wrapper { display: none; }
  }

  .ng-gallery-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5em auto auto -1.5em;
    width: 3em;
    height: 3em;
    opacity: 1;
    transition: opacity .6s;
    &.ng-hide { opacity: 0; }
    i { color: #fff; font-size: 2.5em; }
  }
}

@media (min-width: 768px) {
  .ng-gallery {
    .ng-gallery-content {
      > a {
        &.ng-gallery-nav-left,
        &.ng-gallery-nav-right {
          display: block;
          color: #fff;
          text-decoration: none;
          font-size: 2em;
          cursor: pointer;
          outline: none;
          z-index: 2;
          position: fixed;
          top: 50%;
          transform: translateY(-50%);
        }
        &.ng-gallery-nav-left { left: .5em; }
        &.ng-gallery-nav-right { right: .5em; }
      }
      > img {
        max-height: calc(100% - 8em);
        max-width: calc(100% - 6em);
      }
    }
  }
}

@media (min-height: 480px) {
  .ng-gallery {
    .ng-gallery-content {
      .ng-gallery-description {
        display: block;
        color: #fff;
        width: 100%;
        height: 1.25em;
        font-weight: bold;
        font-size: 0.9em;
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 5em;
        text-shadow: 0 0.1em 0.3em #000;
      }
      .ng-thumbnails-wrapper {
        display: block;
        width: 15.625em;
        height: 2.5em;
        text-align: center;
        position: fixed;
        bottom: 1.25em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        > .ng-thumbnails {
          width: 250em;
          height: 2.5em;
          .ng-thumb {
            opacity: .4;
            transition: opacity .25s;
            &:hover,
            &.active {
              opacity: 1;
            }
          }
        }
        > .ng-dots {
          width: 100%;
          height: 1em;
          text-align: center;
          .ng-dot {
            opacity: .4;
            background: #fff;
            width: .6em;
            height: .6em;
            margin-left: .12em;
            margin-right: .12em;
            cursor: pointer;
            border-radius: 1em;
            transition: opacity .25s;
            display: inline-block;
            &:hover,
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
